* {
    background-color: rgb(233, 212, 251);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: inline;
    color: rgb(246, 83, 211);
    width: 100%;
    position: relative;
}

h2 {
    float: right;
}

.view-high-scores {
    color: black;
    margin: 3%;
    font-size: 20px;
}


/* main page */

.title {
    color:rgb(246, 83, 211);
    font-size: 40px;
    padding-top: 100px;
    letter-spacing: 0.1em;
    padding-bottom: 50px;
}

#main-page {
    text-align: center;
    line-height: 35px;
    margin: 10%;
}

#button {
    background-color: rgb(246, 83, 211);
    color: black;
    font-size: 18px;
    border-radius: 3px;
    padding: 10px 30px;
    margin-top: 5%;
}

/* high scores page */

.high-scores-title {
    color: rgb(246, 83, 211);
    text-align: center;
    letter-spacing: 0.1em;
    margin-top: 5%;
    margin-bottom: 10%;
    padding-top: 10px;
}

.highscores-page {
    color: black;
    margin: 3%;
    font-size: 20px;
}